body{
    margin: 0;
}


.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.image{
    height: 30%;
    width:100%
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Get-image-button{
    border: none;
    padding: 10px 15px;
    background-color: black;
    color: white;
}

input{
    padding: 10px 15px;
    outline: none;
}